body{
	font-family: "Times New Roman", sans-serif;
	font-size: 18px;
	background: linear-gradient(45deg, #ffedd1, #fff0d1, #fff5d1);
	height: 100vh;
}

#header{
	text-align: center;
	text-decoration: none;
}

img{
	display: block;
	margin: auto;
	border-radius: 20px;
	box-shadow: 10px 10px 15px grey;
}
.ingredient, .step{
	line-height: 1.5;
	width: 600px;
	margin: auto;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 10px;
	padding-left: 15px;
	border: 3px solid rgb(161, 111, 45);
	border-radius: 20px;
        box-shadow: 10px 10px 15px grey;
	background-color: white;
}
h3 {
	text-align: center;
}
h4{
	text-decoration: underline;
}

.button{
	margin: 10px 15px;
	border: 3px solid rgb(161, 111, 45); 
	border-radius: 8px;
	padding: 10px;
	display: inline-block;
	background-color: white;
	font-weight: 700;
}

