body{
	font-family: Helvetica, "Times New Roman", sans-serif;
	background: linear-gradient(45deg, #ffedd1, #fff0d1, #fff5d1);
	height: 100vh;
}

.block{
	display: block;
	margin: auto;
	border-radius: 25px;
	width: min(70%, 500px);
	box-shadow: 0px 0px 20px rgb(153, 153, 153);
	background-color: rgb(245, 245, 245);
}

#header{
	text-align: center;
	font-weight: 700;
}

.list{ 
	padding: 3px;
	text-align: left;
	line-height: 1.6;
}
