body{
  font-family: "Playfair Display", sans-serif;
  background: linear-gradient(45deg, #ffedd1, #fff0d1, #fff5d1);
}

#gif{
  display: block;
  border-radius: 20px;
  width: 550px;
  margin: auto;
  box-shadow: 12px 12px 12px grey;
}

.container{
  margin: auto;
  width: 550px;
  border: 2px solid rgb(179, 126, 46);
  background-color: white;
  border-radius: 15px;
}

ul{
  padding: 0 20px;
  text-align: center;
  list-style-type: none;
  line-height: 1.5;
}

a{
  text-decoration: none;
}
